.container {
    display: flex;
    flex-direction: row;
}

.cards-component-container {
    background-color: rgb(224, 204, 204);
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    width: 25%;
    min-height: auto;
}

header {
    width: 100%;
    padding: 76px;
}

button {
    margin-left: 83px;
    display: flex;
}